# Conexión a GS

In [2]:
# Import libraries 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
# For connect to google sheet
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g

In [5]:
# Configure the connection 
scope = ['https://spreadsheets.google.com/feeds']

# Give the path to the Service Account Credential json file 
credentials = ServiceAccountCredentials.from_json_keyfile_name('jupyter-and-googlsheets-dc0792b33051.json', scope)
# Authorise your Notebook
gc = gspread.authorize(credentials)

# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key = '1VdraxFqD8cO6BKhLys4uZ82g080LY9SlWlTvUxMncMw'

import mysql.connector as sql
import pandas as pd

# Análisis

### Cantidad de funcionarios por periodo mensual informado

In [4]:
import mysql.connector as sql
import pandas as pd

# Hacemos la query  e importamos el resultado en un df
db_connection = sql.connect(host='127.0.0.1', database='funcionarios', user='root', password='stavros2020')

query='''
select count(distinct nombre), anyo, mesN, Regimen
from funcionarios.`full` f 
group by anyo, mesN, Regimen
ORDER by anyo desc 
'''

qFun = pd.read_sql(query, con=db_connection)

db_connection.close()

qFun['mesN'] = qFun['mesN'].astype(int)

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'qFuncbyMes'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(qFun,
           spreadsheet_key,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean=True)
print ('The sheet is updated successfully')

The sheet is updated successfully

### Cantidad de Servicios por periodo mensual informado

In [8]:
# Hacemos la query  e importamos el resultado en un df
db_connection = sql.connect(host='127.0.0.1', database='funcionarios', user='root', password='stavros2020')

query2='''
select count(distinct organismo_codigo), anyo, mesN
from funcionarios.`full` f 
group by anyo, mesN, Regimen
ORDER by anyo desc 
'''

qServ = pd.read_sql(query2, con=db_connection)

db_connection.close()

qServ['mesN'] = qServ['mesN'].astype(int)

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'qServbyMes'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(qServ,
           spreadsheet_key,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean=True)
print ('The sheet is updated successfully')

The sheet is updated successfully

### Cantidad de Cargos por periodo mensual informado

In [9]:
# Hacemos la query  e importamos el resultado en un df
db_connection = sql.connect(host='127.0.0.1', database='funcionarios', user='root', password='stavros2020')

query3='''
select count(distinct `Tipo cargo`), anyo, mesN
from funcionarios.`full` f 
group by anyo, mesN, Regimen
ORDER by anyo desc 
'''

qTcargo = pd.read_sql(query3, con=db_connection)

db_connection.close()

qTcargo['mesN'] = qTcargo['mesN'].astype(int)

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'qTipoCargoMes'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(qTcargo,
           spreadsheet_key,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean=True)
print ('The sheet is updated successfully')

The sheet is updated successfully

### Cantidad de Profesiones por periodo mensual informado

In [10]:
# Hacemos la query  e importamos el resultado en un df
db_connection = sql.connect(host='127.0.0.1', database='funcionarios', user='root', password='stavros2020')

query3='''
select count(distinct `tipo_calificacionp`), anyo, mesN
from funcionarios.`full` f 
group by anyo, mesN, Regimen
ORDER by anyo desc 
'''

qTcargo = pd.read_sql(query3, con=db_connection)

db_connection.close()

qTcargo['mesN'] = qTcargo['mesN'].astype(int)

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'qTipoProfesionMes'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(qTcargo,
           spreadsheet_key,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean=True)
print ('The sheet is updated successfully')

The sheet is updated successfully

### Monto mensual promedio por Tipo de Estamento por mes año informado

In [13]:
# Hacemos la query  e importamos el resultado en un df
db_connection = sql.connect(host='127.0.0.1', database='funcionarios', user='root', password='stavros2020')

query3='''
select `Tipo Estamento`, sum(RemBrutaPesosReal) as 'Remuneracion Mensual', anyo, mes, mesN, región, Regimen , count(nombre) as cantidad
from funcionarios.`full` f 
Group By `Tipo Estamento`,anyo, mes, región, Regimen , mesN
'''

qTEM = pd.read_sql(query3, con=db_connection)

db_connection.close()


qTEM['Remuneracion Mensual'] = qTEM['Remuneracion Mensual'].fillna(0)
qTEM['Remuneracion Mensual'] = qTEM['Remuneracion Mensual'].astype(int)

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'qTipoEstbyMes'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(qTEM,
           spreadsheet_key,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean=True)
print ('The sheet is updated successfully')

The sheet is updated successfully

### Monto mensual promedio por Tipo de Profesión por mes año informado

In [23]:
# Hacemos la query  e importamos el resultado en un df
db_connection = sql.connect(host='127.0.0.1', database='funcionarios', user='root', password='stavros2020')

query6='''
select tipo_calificacionp , sum(RemBrutaPesosReal) as 'Remuneracion Mensual', anyo, mes, mesN, región, Regimen , count(nombre) as cantidad
from funcionarios.`full` f 
Where anyo = YEAR (now())
and convert(mesN, UNSIGNED INTEGER) <= MONTH (NOW() ) - 2
Group By anyo, mes, región, mesN, tipo_calificacionp, Regimen 
'''

RemProf = pd.read_sql(query6, con=db_connection)

db_connection.close()


RemProf['Remuneracion Mensual'] = RemProf['Remuneracion Mensual'].fillna(0)
RemProf['Remuneracion Mensual'] = RemProf['Remuneracion Mensual'].astype(int)

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'MonRemProf'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(RemProf,
           spreadsheet_key,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully')

The sheet is updated successfully

### Monto de Horas Extras del último mes listado detallado por persona

In [57]:
# Hacemos la query  e importamos el resultado en un df
db_connection = sql.connect(host='127.0.0.1', database='funcionarios', user='root', password='stavros2020')

query7='''
select nombre , cantHExDiu, cantHExNoc , cantHExFes , HEDiuReal , HEFesReal , HENocReal, organismo_nombre, Mes 
from funcionarios.`full` f 
Where anyo = YEAR (now())
and convert(mesN, UNSIGNED INTEGER) = MONTH (NOW() ) - 2
'''

HH = pd.read_sql(query7, con=db_connection)
HH = HH.reset_index()
db_connection.close()

HH1 = HH[['index', 'nombre']]
HH2 = HH[['index', 'cantHExFes' , 'HEDiuReal']]
HH3 = HH[['index', 'HEFesReal' , 'HENocReal']]
HH4 = HH[['index', 'organismo_nombre', 'Mes' ]]
HH5 = HH[['index', 'cantHExNoc', 'cantHExDiu']]

In [ ]:
largo = round(len(HH1)/4)
HH1_1 = HH1[:largo :]
HH1_2 = HH1[largo:2*largo :]
HH1_3 = HH1[2*largo:3*largo :]
HH1_4 = HH1[3*largo:4*largo :]

In [133]:
# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key_HH1_1 = '1Cd_pLz91ibYp2_f-KMdDVeKcQu6YfMB55a95Xx26v6c'

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'HEdetalle1'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(HH1_1,
           spreadsheet_key_HH1_1,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully HH1')

The sheet is updated successfully HH1

In [135]:
# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key_HH1_2 = '1bmnOYactLZQxB06nqXaXiNdXpQMos0sLbUq7zhVFSzs'

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'HEdetalle1'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(HH1_2,
           spreadsheet_key_HH1_2,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully HH1')

The sheet is updated successfully HH1

In [136]:
# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key_HH1_3 = '1BdEWIV3kYLPSf8ppck2_HnRcbY3yDWOADQMSxvpc9iA'

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'HEdetalle1'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(HH1_3,
           spreadsheet_key_HH1_3,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully HH1')

The sheet is updated successfully HH1

In [137]:
# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key_HH1_4 = '11pElai5vUZp9J2m7QWkeiyVID-ze62drZqc0yMAd7s0'

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'HEdetalle1'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(HH1_4,
           spreadsheet_key_HH1_4,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully HH1')

The sheet is updated successfully HH1

**_______-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------____________**

In [ ]:
# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key_HH2 = '1Z0_0U504q9_U1rUnJfwEbmiHDUh_cx7Wa-1D0mzFiYo'

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'HEdetalle2'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(HH2,
           spreadsheet_key_HH2,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully HH2')

In [65]:
# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key_HH3 = '1JLV0BKeYBGe8U01A6jKjwlM8YgeVqbG7-PC9GnPEVf0'

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'HEdetalle3'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(HH3,
           spreadsheet_key_HH3,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully HH3')

The sheet is updated successfully HH3

In [67]:
# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key_HH4 = '16bo6I_wDUwtwCiVzn1xmPexP_rCQYdiilP5wnHvgyis'

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'HEdetalle4'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(HH4,
           spreadsheet_key_HH4,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully HH4')

The sheet is updated successfully HH4

In [88]:
# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key_HH5 = '1jaE93tqxDozmfTCf3ZWKAOjaT846FzdcW72_ACR57Ec'

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'HEdetalle5'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(HH5,
           spreadsheet_key_HH5,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully HH5')

The sheet is updated successfully HH5

### Monto de Viáticos del último mes listado detallado por persona

In [140]:
# Hacemos la query  e importamos el resultado en un df
db_connection = sql.connect(host='127.0.0.1', database='funcionarios', user='root', password='stavros2020')

query8='''
select nombre , ViaticosReal, organismo_nombre, Mes ,`Tipo cargo`
from funcionarios.`full` f 
Where anyo = YEAR (now())
and convert(mesN, UNSIGNED INTEGER) = MONTH (NOW() ) - 2
'''

Viat = pd.read_sql(query8, con=db_connection)
Viat = Viat.reset_index()
db_connection.close()

In [143]:
Viat

,index,nombre,ViaticosReal,organismo_nombre,Mes,Tipo cargo
0,0,Lopez Diaz Francisco Javier,0.0,Subsecretaría De Energía,Marzo,Subsecretario De Energia
1,1,Jobet Eluchans Juan Carlos,0.0,Subsecretaría De Energía,Marzo,Ministro De Energia
2,2,Herrera Araya Alvaro Ignacio,0.0,Subsecretaría De Energía,Marzo,Secretario Regional Ministerial De Coquimbo
3,3,Henriquez Flores Mauricio,0.0,Subsecretaría De Energía,Marzo,Secretario Regional Ministerial De Biobio
4,4,Guzman Perez Alfredo Jose,0.0,Subsecretaría De Energía,Marzo,Jefe Division De Desarrollo De Proyectos
...,...,...,...,...,...,...
485285,485285,Duarte Romero Sandra,0.0,Corporación Municipal Cultural Y Patrimonial D...,Marzo,0
485286,485286,Nuñez Donoso Victoria Alejandra,0.0,Corporación Municipal Cultural Y Patrimonial D...,Marzo,0
485287,485287,Perez Lopez Macarena Del Rosario,0.0,Corporación Municipal Cultural Y Patrimonial D...,Marzo,0
485288,485288,Ponce Navarrete Cristian,0.0,Corporación Municipal Cultural Y Patrimonial D...,Marzo,0
485289,485289,Soto Vivar America,0.0,Corporación Municipal Cultural Y Patrimonial D...,Marzo,0

In [ ]:
Viat1 = Viat[['index', 'nombre']]
Viat2 = Viat[['index', 'ViaticosReal', 'Mes']]
Viat3 = Viat[['index', 'organismo_nombre' , 'HENocReal']]
Viat4 = Viat[['index', 'Tipocargo']]

In [ ]:
largo = round(len(Viat1)/4)
Viat1_1 = Viat1[:largo :]
Viat1_2 = Viat1[largo:2*largo :]
Viat1_3 = Viat1[2*largo:3*largo :]
Viat1_4 = Viat1[3*largo:4*largo :]

In [ ]:
# The sprad sheet ID, which can be taken from the link to the sheet
spreadsheet_key_Viat = '15Pd1edwhpqZACv1jefLqkC0p6YwXoXLNCBLCOIHtB6E'

# Setemos el nomnbre de la hoja y cargamos los datos 
wks_name = 'Viaticos'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(HH1,
           spreadsheet_key_Viat,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean= True)
print ('The sheet is updated successfully Viat')

In [ ]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'hoja'
cell_of_start_df = 'A1'
# upload the dataframe of the clients we want to delete
d2g.upload(df,
           spreadsheet_key,
           wks_name,
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = cell_of_start_df,
           clean=False)
print ('The sheet is updated successfully')

1VdraxFqD8cO6BKhLys4uZ82g080LY9SlWlTvUxMncMw